<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Candidatos List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
          <thead>
              <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Nota</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidato of responseUsers">
                <td>{{candidato.nome}}</td>
                <td>{{candidato.cidade}}</td>
                <td>{{candidato.nota}}</td>
                <td>{{candidato.status == true ? "Aprovado" : "Reprovado"}}</td>
                <td>
            
                <button (click)="detailsCandidato(candidato.id)" class="btn btn-info">Detalhes</button>
                <button (click)="updateCandidato(candidato.id)" class="btn btn-warning" style="margin-left: 10px">Editar</button>
                <button (click)="deleteCandidato(candidato.id)" class="btn btn-danger" style="margin-left: 10px">Deletar</button>
                </td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>




