.container-fluid{
    text-align: -webkit-center !important;
}

.form-create {
    text-align: -webkit-center !important;
}

.form-group {
    text-align: left !important;
}

.required:after {
    content: ' *';
    color: red;
}

.write-required {
    color: red;
}
