th {
    text-align: center;
}
td {
    text-align: center;
}

#btn-action {
    margin: 5px;
    align-items: center;
    width: 39px;
    font-size: medium;
    text-align: -webkit-center;
    color: white
}

#btn-action:hover {
    color: black;
    background-color: silver;
    border-color: silver;
}
