th {
    text-align: center;
}
td {
    text-align: center;
}

.btn {
    margin: 5px;
    align-items: center;
    width: 39px;
    font-size: medium;
    text-align: -webkit-center;
    color: white
}

.btn:hover {
    color: #000000;
    background-color: silver;
    border-color: silver;
}
